@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>
<h3>@ViewData["AnotherMessage"]</h3>
<h4>@ViewBag.AnotherMessage</h4>


@*<p>Time on server is: @((DateTime)ViewData["ServerTime"])</p>*@

<p>Use this area to provide additional information.</p>
