@model IEnumerable<PhotoSharingApplication.Models.Photo>

@{
    ViewBag.Title = "Photo Index";
}

<h2>@ViewBag.Title</h2>

<h3>@ViewBag.Message</h3>
<h3>@ViewData["Message2"]</h3>

<p>
    @Html.ActionLink("Create New", "Create")
</p>



@Html.Action("_PhotoGallery", "Photo")


